body{
    background-color: rgb(71, 97, 177);
}
.frm-conteiner{
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgb(85, 170, 235);
    border-radius: 10px;
    padding: 20px;
    /*margin-bottom: 250px;*/
}

input{
    display: block;
    padding: 5px;
    margin: 5px;
    border-color: white;
}
label{
    margin: 5px;
    padding: 5px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.3em;
}

button{
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(48, 48, 195);
    color: white;
    border-color: rgb(48, 48, 195);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

button:hover{
    cursor: pointer;
    filter: opacity(.9);
    transition: all .2s ease-in-out;
}

@media only screen and (min-width: 1024px) {
    .frm-conteiner{
        align-items: center;
    }
    .formulario{
        display: flex;
        flex-direction: row;
        /*justify-content: space-around;*/
    }

    .conteiner-izquierda{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .conteiner-derecha{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .flex-column{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label{
        font-size: 20px;
    }
    input{
        padding: 10px;
    }
}